body {
  /*background-color: #dbf6e9;*/
  background-color: #ededed;
}

@font-face {
  font-family: "Amaranth";
  src: local("Amaranth"), url(../fonts/Amaranth-Bold.ttf);
}

.heading {
  font-family: Amaranth;
  font-weight: bold;
  color: #3b966a;
}

/* NavBar */

.logo {
  transform: scale(1.5);
}

.navbar-content {
  font-size: large;
}

.navbar-color {
  /*background-color: #1abc9c;*/
  /*background-color: #009688;*/
  background-color: black;
}

.linkText {
  color: white;
}

.linkText:hover {
  color: #70c745;
}

.dropdown-text {
  color: white;
}

.dropdown-text:hover {
  color: #70c745;
}

/*.nav-dropdown{
  color: white;
  background-color: black;
}*/

/* Home Component */

.statistics-strip {
  text-align: center;
  /*background-color: #686868;*/
  background-color: #85684a;
  color: white;
}

.statistics-anchor {
  color: black;
}

.statistics-anchor:hover {
  color: #3e1e10;
}

.donate-button {
  background-color: #3e1e10;
  color: white;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 11% 0;
}
.slide1 {
  background-image: url("../jumbotron1.jpg");
}
.slide2 {
  background-image: url("../jumbotron2.jpeg");
}
.slide3 {
  background-image: url("../jumbotron3.jpeg");
}

/* removing indicators in carousel */
.carousel-control-next-icon {
  background-image: none;
}
.carousel-control-prev-icon {
  background-image: none;
}

.agroworld {
  text-align: center;
  font-size: 150px;
  color: #3e1e10;
  margin: 0px auto 150px;
  font-family: "Lobster", cursive;
}
.slide-text {
  text-align: center;
  font-size: 90px;
  color: #3e1e10;
  font-family: "Lobster", cursive;
}
/*Sell Page*/

.Sell-Form {
  width: 40%;
  /* background: linear-gradient(180deg, #1abc9c 0%, rgba(10, 190, 6, 0) 100%); */
  border: 3px solid black;
  border-radius: 8px;
  padding: 30px 0px;
  margin: 0 auto;
}

.sell-title {
  color: #3b966a;
  border-radius: 15px;
  margin-bottom: 2%;
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.075em;
}

.Sell-inputs {
  width: 100%;
  border: 3px solid #0e6b3e;
  border-radius: 3px;
}

.Sell-Labels {
  color: #025955;
}

.Sell-submit {
  background-color: #1c4d06;
}

@media (min-width: 480px) {
  .Sell-Form {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .Sell-Form {
    width: 600px;
  }
}

/*Login, Register Page */
.login-header,
.register-header {
  align-items: center;
  height: 77px;
  margin-top: 40px;
}

.login-header-name,
.register-header-name {
  font-family: Amaranth;
  font-style: normal;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.075em;
  color: #3b966a;
  padding-top: 9px;
}

.login-form,
.register-form {
  height: 750px;
  /* background: linear-gradient(180deg, #1abc9c 0%, rgba(10, 190, 6, 0) 100%); */
  border: 3px solid black;
  border-radius: 8px;
}

@media (min-width: 480px) {
  .login-form,
  .register-form,
  .login-header,
  .register-header {
    width: 450px;
  }

  .login-form .form-control,
  .register-form .form-control {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .login-form,
  .register-form,
  .login-header,
  .register-header {
    width: 600px;
  }

  .login-form .form-control,
  .register-form .form-control {
    width: 450px;
  }
}

.login-form .form-label,
.register-form .form-label {
  height: 34px;
  width: 95px;
  font-weight: bold;
  color: #025955;
  margin-left: 3vmin;
  margin-top: 2vmin;
  font-size: 17px;
  line-height: 24px;
}

.login-form .form-control,
.register-form .form-control {
  float: right;
  height: 45px;
  margin-right: 2vmin;
  border: 3px solid #0e6b3e;
  border-radius: 3px;
}

.center {
  text-align: center;
}

/* Styling for the Product Component */
.card-style {
  width: 20rem;
  box-shadow: -1px 4px 18px #888888;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 8px;
}
.card-style:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.card-img {
  width: 318px;
  height: 178.63px;
}
.card-title {
  font-size: 1.7rem;
  text-align: center;
}
.mrp-style {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.desc-style {
  color: #727272;
  font-size: 14px;
}
.card-footer {
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .grid-style {
    padding-top: 3.5%;
    padding-left: 5.8%;
  }
}
@media (max-width: 580px) {
  .grid-style {
    padding-top: 5%;
    padding-left: 16%;
  }
}

/* Statistics Page */

.pie-chart {
  width: 500px;
  height: 500px;
  margin-left: 10%;
}

.statsSelector select {
  margin-left: 15px;
  width: 100px;
}

@media (min-width: 480px) {
  .pie-chart {
    width: 420px;
    margin-left: 3%;
  }
}

/* Orders style */

.order-image {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.order-card {
  margin: 4%;
  padding: 2%;
  box-shadow: -1px 4px 18px #888888;
  border-radius: 25px;
  overflow: hidden;
}

.order-button {
  width: 130px;
  background: #70c745;
  font-size: 25px;
  height: 50px;
  margin: 15px 15px 20px;
  outline: none;
}
.order-button:hover {
  background: #ededed;
  color: #70c745;
  border: 2px solid #70c745;
}
.order-button:focus {
  background: #ededed;
  color: #70c745;
  border: 2px solid #70c745;
  margin: 15px 15px 20px;
}

/* Styling For modal */

.modal-image {
  height: 300px;
  width: 350px;
  box-shadow: -1px 4px 18px #888888;
  border-radius: 30px;
  overflow: hidden;
}
/* .modal-card{
  border-radius: 30px; 
  box-shadow: -1px 4px 18px #888888;
} */
.modal-title {
  font-size: 2.5rem;
  color: #fff;
  width: 100%;
  text-align: center;
  font-family: "Lobster", cursive;
}
.modal-title-card {
  background-color: #70c745;
}
.card-title-modal {
  font-size: 2rem;
}
.mrp-style-modal {
  font-size: 1.3rem;
  font-weight: 500;
}

/* Loader styling */
.loader {
  background-color: #70c745;
  /* //background: radial-gradient(#222, #000); */
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: #fff;
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: #fff;
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: #fff;
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: #fff;
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: #fff;
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.adds-card-style {
  margin: 4% auto;
  width: 20rem;
  height: 28rem;
  box-shadow: -1px 4px 18px #888888;
  border-radius: 30px;
  overflow: hidden;
}
