body {
  /*background-color: #dbf6e9;*/
  background-color: #ededed;
}

.heading{
  font-family: Amaranth;
  font-weight: bold;
  color: #3b966a;
}

/* NavBar */

.logo {
  transform: scale(1.5);
}

.navbar-content {
  font-size: large;
}

.navbar-color {
  /*background-color: #1abc9c;*/
  /*background-color: #009688;*/
  background-color: black;
}

.linkText{ color: white ; }

.linkText:hover{ 
  color: #70c745 ; 
}

.dropdown-text{
  color: white;
}

.dropdown-text:hover{
  color: #70c745 ;
}

/* Home Component */

.statistics-strip {
  text-align: center;
  /*background-color: #686868;*/
  background-color: #85684A;
  color: white;
}

.statistics-anchor {
  color: black;
}

.statistics-anchor:hover {
  color: #3E1E10;
}

.donate-button {
  background-color: #3E1E10;
  color: white;
}

.jumbotron {
  background-image: url("../jumbotron2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 11% 0;
}

.agroworld {
  text-align: center;
  font-size: 150px;
  color: #3E1E10;
  margin: 0px auto 150px;
  font-family: "Lobster", cursive;
}
/*Sell Page*/

.Sell-Form {
  width: 40%;
  background: linear-gradient(180deg, #1abc9c 0%, rgba(10, 190, 6, 0) 100%);
  border-radius: 15px;
  margin: 0 auto;
}

.Sell-title {
  background-color: #3b966a;
  color: #ffffff;
  border-radius: 15px;
  margin-bottom: 4%;
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.075em;
}

.Sell-inputs {
  width: 100%;
  border: 3px solid #0e6b3e;
  border-radius: 3px;
}

.Sell-Labels {
  color: #025955;
}

.Sell-submit {
  background-color: #1c4d06;
}

.Sell-title {
  background-color: #3b966a;
  color: #ffffff;
  border-radius: 15px;
  margin-bottom: 4%;
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.075em;
}

@media screen and (max-width: 576px) {
  .Sell-Form {
    width: 450px;
  }
}

/*Login, Register Page */
.login-header,
.register-header {
  align-items: center;
  height: 77px;
  margin-top: 40px;
  background: #3b966a;
  border-radius: 15px;
}

.login-header-name,
.register-header-name {
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.075em;
  color: #ffffff;
  padding-top: 9px;
}

.login-form,
.register-form {
  height: 750px;
  background: linear-gradient(180deg, #1abc9c 0%, rgba(10, 190, 6, 0) 100%);
  border-radius: 15px;
}

@media (min-width: 480px) {
  .login-form,
  .register-form {
    width: 450px;
  }

  .login-form .form-control,
  .register-form .form-control {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .login-form,
  .register-form {
    width: 600px;
  }

  .login-form .form-control,
  .register-form .form-control {
    width: 450px;
  }
  
}

.login-form .form-label,
.register-form .form-label {
  height: 34px;
  width: 95px;
  font-weight: bold;
  color: #025955;
  margin-left: 3vmin;
  margin-top: 2vmin;
  font-size: 17px;
  line-height: 24px;
}

.login-form .form-control,
.register-form .form-control {
  float: right;
  height: 45px;
  margin-right: 2vmin;
  background: #f7f5f5;
  border: 3px solid #0e6b3e;
  border-radius: 3px;
}

.center {
  text-align: center;
}

/* Styling for the Product Component */
.card-style {
  width: 20rem;
  box-shadow: -1px 4px 18px #888888;
  border-radius: 30px; 
  overflow: hidden;
}
.card-style:hover {
  cursor: pointer;
  transform: scale(1.1,1.1);
}
.card-img {
  width: 318px;
  height: 178.63px;
}
.card-title {
  font-size: 1.5rem;
  text-align: center;
}
.mrp-style {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.desc-style {
  color: #727272;
  font-size: 14px;
}
.card-footer {
  font-size: 0.75rem;
}
@media (min-width:768px){
  .grid-style{
    padding-top:3.5%;
    padding-left: 5.8%;
  }
} 
@media (max-width:580px){
  .grid-style{
    padding-top: 5%;
    padding-left: 16%;
  }
}


/* Statistics Page */

.pie-chart {
  width: 500px;
  height: 500px;
  margin-left: 10%;
}

@media (min-width: 480px) {
  .pie-chart {
    width: 420px;
    margin-left: 3%;
  }
}


/* Orders style */

.order-image{
  height: 100%;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.order-card{
  margin: 4%;
  padding: 2%;
  box-shadow: -1px 4px 18px #888888;
  border-radius: 25px;
  overflow: hidden;
}

.order-button{
  width: 130px;
  background: #70c745; 
  font-size: 25px ;
  height: 50px;
  margin: 15px 15px 0px;
  outline: none;
}
.order-button:hover{
  background: #ededed;
  color: #70c745;
  border: 2px solid #70c745;
}
.order-button:focus{
  background: #ededed;
  color: #70c745;
  border: 2px solid #70c745;
}

